
.blog_list-items{
    display: flex;
    overflow: hidden;
    img{
        height: 400px;
        width: 50%;
        margin-right: 1.5rem;
    }
    &:hover{
        .item-footer{
            text-decoration: underline;
        }
    }
}
@include media (992px){
    .blog_list-items{
        img{
        height: 208px;
        }
    }
}
@include media (767px){
    .blog_list-items{
        display: block;
        img{
            width: 100%;
            height: auto;
            margin-bottom: 0.5rem;
        }
    }
}
.items-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
        font-size: 2rem;
        color: $primary;
    }
    span{
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        h3{
            font-size: 1.25rem;
            font-weight: 500;
        }
    }
    article{
        font-size: 1.25rem;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5; /*行數*/
        -webkit-box-orient: vertical;
    }
}
.item-footer{
        align-self: flex-end;
        font-size: 2.5rem;
        font-weight: 900;
        color: $primary-dark;
}
@include media (992px){
    .items-body{
        h2{
        font-size: 1.5rem;
        
    }
    span{
        margin-bottom: 0.25rem;
        h3{
            font-size: 1rem;
        }
    }
    article{
        font-size: 1rem;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6; /*行數*/
        -webkit-box-orient: vertical;
    }
    }
    
    .item-footer{
        font-weight: 400;
        font-size: 1rem;
    }
}
@include media (767px){
     
    .items-body{
        display: block;
       
        article,.item-footer{
            display: none;
        }
     }
}

////

.blog_main{
    max-width: 856px;
    article p{
        color: #555555;
    }
}

.blog-share{
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    img{
    width: 24px;
    height: auto;
    }
}
.icon-label{
    font-size: 2.5rem;
    font-weight: 700;
    vertical-align:sub;
    margin-right: 0.75em;
}

.blog_tag{
    max-width: 256px;
}
.tag_list{
    gap:0.25rem 1.5rem;
}
@include media (992px){
    .blog-main{
        max-width: 516px;
    }
    .icon-label{
        font-size: 1.5rem;
        margin-right: 0.125rem;
    }
     .blog_tag{
     max-width: 117px;
    }
    .tag_list{
        gap: 0rem 1rem;
    }
}
@include media(767px){
   
}