.navbar li{
    flex:1 1 0px;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-right: 1px solid #DCDCDC;
    border-bottom: 0.5rem solid transparent;
    cursor: pointer;
    &:first-child{
        border-left: 1px solid #DCDCDC;
    }
    a{
        text-decoration: none;
    }  
}
.glass-card{
    margin-top: 2rem;
    margin-right: -12px;
    margin-left: -12px;
    margin-bottom: 5rem;
    justify-content: center;
    li{
        padding-left: 12px;
        padding-right: 12px;
    }
    li:not(:last-child){
        margin-bottom: 5rem;
    }
    .optical{
        width:calc(25% - 1.5rem);
       
    }
    .sunglasses{
        width:calc(33.33% - 1.5rem);
        
    } 
}
@include media (992px){
    .glass-card {
        li:not(:last-child){
        margin-bottom: 2.5rem;
    }
        .optical, .sunglasses{
        width:calc(50% - 1.5rem);
    } 
}
}
@include media (767px){
    .glass-card{
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    .optical,.sunglasses{
        width: 100%;
        max-width: 638px;
    } 
    }
}
.color-select{
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.glass-color1{
    background: $glass-color1;
}
.glass-color2{
    background: $glass-color2;
}
