header{
  position: fixed;
  top: 0px;
  width: 100%;
}
.logo{
  width: 80px;
  height: auto;
  padding: 12px 0px;
}
.menu{
  display: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
  font-size: 40px;
  vertical-align:sub;
  margin-right: 20px;
}
.social-icon_list>li{
  width: 48px;
}
.copyright{
  font-size: calc(1rem - 2px);
}



@media screen and (max-width:767px){
  .material-symbols-outlined {
  font-size: 1.25rem;
  vertical-align:sub;
  margin-right: 0.5rem;
}
.btn-menu {
  display: inline-block;
  cursor: pointer;
  margin-right: 1px;
  padding-top: 26px;
  padding-bottom: 26px;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  transform: rotate(45deg) translate(-4px, -4px);
}
.menu{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom:-255px;
  right: 0px;
  background: darken($white-smoke, 10);
  color: $primary;
  border-top:2px solid $primary;
  border-bottom: 1px solid $primary;
  li{
    padding: 1rem;
    border-bottom: 2px solid lighten($primary,60);
    
  }
}
.menu-display{
  display: block;
}
.social-icon_list>li{
   width: 24px;
  }
.copyright{
    font-size:1rem;
  }
}