@mixin media($max-width) {
    @media screen and (max-width:$max-width) {
      @content
}
};

.container{
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.page-title{
    font-size: 3rem;
    font-weight: 700;
    border-left: 8px solid $primary;
}
@include media (992px) {
    .container{
        max-width: 720px;
    }
   
}
@include media (767px){
 .container{
        max-width:100%;
    }
     .page-title{
        font-size: 1.5rem;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    li a{
       display: block;
        padding: 10px 11px 10px;
        font-size: 19px;
        line-height: 26px;
        border: 1px solid $gray;
        &:not(:first-child){
            border-right: 0px;
        }
        &:hover{
            text-decoration: none;
            background: $pagination-color;
        }
    }
    .page a{
        padding: 11px 15px 11px 15px;
        font-size:18px;
        line-height: 24px;
        &:hover{
            color: white;
            background: #000;
        }
    }
}