.w-full{
    width: 100%;
}
.w-50{
    width: 50%;
}
//color
.border-white{
  border-bottom: 1px solid #fff;
}

.bg-primary{
  background: $primary;
}
.bg-primary-dark{
    background: $primary-dark;
}
.bg-white-smoke{
    background: $white-smoke;
}
.text-white{
    color: #fff;
}
.text-primary{
    color: $primary;
}
.text-primary-dark{
    color:$primary-dark;
}
//display
.d-none{
    display: none;
}

.text-center{
    text-align: center;
}
.position-r{
    position: relative;
}
.flex{
  display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-1{
    flex:1 1 0%;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.items-center{
  align-items: center;
}

//font
@for $i from 4 through 16 {
    .fs-#{$i}{
        font-size: $i*0.25rem;
    }
}
.fs-10-2px{
    font-size: calc(2.5rem + 2px);
}
.fw-500{
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}
.font-roboto{
    font-family: Roboto;
}
//space
.mr-2{
    margin-right: 0.5rem;
}
.mr-3{
    margin-right: 0.75rem;
}
.mr-5{
    margin-right: 1.25rem;
}
.mr-6{
    margin-right: 1.5rem;
}
.ml-7{
    margin-left: 1.75rem;
}
.mx-a{
    margin-right: auto;
    margin-left: auto;
}
.-mx-3{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
.mt-10{
    margin-top: 40px;
}
@for $i from 1 through 20 {
    .mb-#{$i}{
        margin-bottom:0.25rem*$i;
    }
}

.p-4{
    padding: 1rem;
}
.pl-4{
    padding-left: 1rem;
}
.px-3{
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
.px-4{
    padding-right: 1rem;
    padding-left: 1rem;
}
.pt-11{
    padding-top: 2.75rem;
}
.pt-15{
    padding-top: 3.75rem;
}
.pt-20{
    padding-top: 5rem;
}
.pt-24{
    padding-top: 6rem;
}
.pb-8{
  padding-bottom: 1.75rem;
}
.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-13px{
    padding-top: 13px;
    padding-bottom: 13px;
}
.py-25px{
    padding-top: 25px;
    padding-bottom: 25px;
}
.py-8{
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
}
.py-20{
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.gap-1{
    gap:0.25rem 
}
.gap-2{
    gap:0.5rem;
}
.gap-4{
    gap:1rem;
}
.gap-6{
  gap:1.5rem;
}
.gap-8{
  gap:2rem;
}
.gap-12{
  gap:3rem;
}
.gap-y-12{
    row-gap: 3rem;
}
.gap-16{
  gap:4rem;  
}
@include media (992px){
    .d-md-block{
        display: block;
    }
    .d-md-flex{
        display: flex;
    }
    .flex-md-col{
        flex-direction: column;
    }
    .fs-md-4{
        font-size: 1rem;
    }
    .ml-md-6{
        margin-left: 1.5rem;
    }
    .mb-md-6{
        margin-bottom: 1.5rem;
    }
    .fs-md-6{
        font-size: 1.5rem;
    }
    .gap-y-md-6{
        row-gap: 1.5rem ;
    }
    .pt-md-20{
        padding-top: 5rem;
    }
}

@include media (767px){
    .d-sm-block{
        display: block;
    }
    .d-sm-none{
        display: none;
    }
    .d-sm-block{
        display: block;
    }
    .flex-sm-col{
        flex-direction: column;
    }
    .mr-sm-0{
        margin-right: 0;
    }
    .mb-sm-0{
        margin-bottom: 0;
    }
    .mb-sm-2{
        margin-bottom: 0.5rem;
    }
    .mb-sm-4{
        margin-bottom: 1rem;
    }
    .mb-sm-6{
        margin-bottom: 1.5rem;
    }
    .mb-sm-16{
        margin-bottom: 4rem;
    }
    .mt-sm-6{
        margin-top: 1.5rem;
    }
    .py-sm-6{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .pt-sm-6{
        padding-top: 1.5rem;
    }
    .pt-sm-10{
        padding-top: 2.5rem;
    }
    .pb-sm-4{
        padding-bottom: 1rem;
    }
    .fs-sm-4{
        font-size: 1rem;
    }
    .fs-sm-6{
        font-size: 1.5rem;
    }
    .gap-sm-2{
        gap:0.5rem;
    }
    .gap-sm-6{
        gap:1.5rem
    }
}
